@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
  }

  body {
    position: relative;
  }
  
  body::-webkit-scrollbar-track {
    background: #111827;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #717d8d;    /* color of the scroll thumb */
    border-radius: 5px;       /* roundness of the scroll thumb */
  }

.content {
  min-height: 70vh;
}