<section class="flex justify-center items-center content">
    <div class="max-w-md w-full bg-white rounded p-6 space-y-4 border-2">
        <div>
            <p class="text-gray-600">Entre para continuar!</p>
        </div>
            <input [(ngModel)]="user.email" class="w-full p-4 text-sm bg-gray-50 focus:outline-none border border-gray-200 rounded text-gray-600" type="text" placeholder="Email">
            <input [(ngModel)]="user.password" class="w-full p-4 text-sm bg-gray-50 focus:outline-none border border-gray-200 rounded text-gray-600" type="password" placeholder="Password">
        <div>
            <button class="w-full py-4 bg-blue-600 hover:bg-blue-700 rounded text-sm font-bold text-gray-50 transition duration-200">Entrar</button>
        </div>
    </div>
</section>